.home-main-wrapper{
    border: 2px solid yellow;
    display: flex;
    width: 75%;
    flex-direction: column;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 20px;
}

.home-inner-wrapper{
    height: 270px;
    width: 100%;
    margin: 10px 0;
    display: flex;
    border: 2px solid red;
}

.country-flag-wrapper{
    width: 45%;
    height: 100%;
}

.country-flag-wrapper img{
    width: 100%;
    height: 100%;
}

.country-info-wrapper{
    width: 55%;
    padding: 0 25px 35px 25px;
}

.country-info-wrapper .information p{
    margin: 0 0 15px 0;
}